@font-face {
    font-family: Gilroy-bold;
    src: url("./Assets/Fonts/Gotham\ Bold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-light;
    src: url("./Assets/Fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-light;
    src: url("./Assets/Fonts/Gotham\ Medium.otf") format("opentype");
}
body {
    margin: 0;
    font-family: gilroy-light;
    background-color: #ececec;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
