@font-face {
    font-family: Gilroy-bold;
    src: url("../Fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-light;
    src: url("../Fonts/Gilroy-Light.otf") format("opentype");
}

* {
    /* box-sizing: border-box; */
}

body {
    margin: 0;

    padding: 0;
}

p {
    font-family: Gilroy-light;
}
